@font-face {
  font-family: 'bwicon';
  src:  url('../fonts/bwicon.eot?shfwad');
  src:  url('../fonts/bwicon.eot?shfwad#iefix') format('embedded-opentype'),
    url('../fonts/bwicon.ttf?shfwad') format('truetype'),
    url('../fonts/bwicon.woff?shfwad') format('woff'),
    url('../fonts/bwicon.svg?shfwad#bwicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bwi-"], [class*=" bwi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bwicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bwi-"]::before{ position: relative; top: 1px;}

.bwi-add:before {
  content: "\e900";
}
.bwi-add2:before {
  content: "\e901";
}
.bwi-add3:before {
  content: "\e902";
}
.bwi-arrow-d:before {
  content: "\e903";
}
.bwi-arrow-d2:before {
  content: "\e904";
}
.bwi-arrow-d3:before {
  content: "\e905";
}
.bwi-arrow-dd:before {
  content: "\e906";
}
.bwi-arrow-dd2:before {
  content: "\e907";
}
.bwi-arrow-dd3:before {
  content: "\e908";
}
.bwi-arrow-dl:before {
  content: "\e909";
}
.bwi-arrow-dl2:before {
  content: "\e90a";
}
.bwi-arrow-dl3:before {
  content: "\e90b";
}
.bwi-arrow-dr:before {
  content: "\e90c";
}
.bwi-arrow-dr2:before {
  content: "\e90d";
}
.bwi-arrow-dr3:before {
  content: "\e90e";
}
.bwi-arrow-du:before {
  content: "\e90f";
}
.bwi-arrow-du2:before {
  content: "\e910";
}
.bwi-arrow-du3:before {
  content: "\e911";
}
.bwi-arrow-l:before {
  content: "\e912";
}
.bwi-arrow-l2:before {
  content: "\e913";
}
.bwi-arrow-l3:before {
  content: "\e914";
}
.bwi-arrow-r:before {
  content: "\e915";
}
.bwi-arrow-r2:before {
  content: "\e916";
}
.bwi-arrow-r3:before {
  content: "\e917";
}
.bwi-arrow-u:before {
  content: "\e918";
}
.bwi-arrow-u2:before {
  content: "\e919";
}
.bwi-arrow-u3:before {
  content: "\e91a";
}
.bwi-book:before {
  content: "\e91b";
}
.bwi-book2:before {
  content: "\e91c";
}
.bwi-book3:before {
  content: "\e91d";
}
.bwi-bookshelf:before {
  content: "\e91e";
}
.bwi-bookshelf2:before {
  content: "\e91f";
}
.bwi-cancel:before {
  content: "\e920";
}
.bwi-cancel2:before {
  content: "\e921";
}
.bwi-cancel3:before {
  content: "\e922";
}
.bwi-cart:before {
  content: "\e923";
}
.bwi-cart2:before {
  content: "\e924";
}
.bwi-check:before {
  content: "\e925";
}
.bwi-check2:before {
  content: "\e926";
}
.bwi-check3:before {
  content: "\e927";
}
.bwi-delete:before {
  content: "\e928";
}
.bwi-delete2:before {
  content: "\e929";
}
.bwi-delete3:before {
  content: "\e92a";
}
.bwi-download:before {
  content: "\e92b";
}
.bwi-exclamation:before {
  content: "\e92c";
}
.bwi-exclamation2:before {
  content: "\e92d";
}
.bwi-filter:before {
  content: "\e92e";
}
.bwi-flag:before {
  content: "\e92f";
}
.bwi-heart:before {
  content: "\e930";
}
.bwi-heart2:before {
  content: "\e931";
}
.bwi-heart3:before {
  content: "\e932";
}
.bwi-home:before {
  content: "\e933";
}
.bwi-letter:before {
  content: "\e934";
}
.bwi-letter2:before {
  content: "\e935";
}
.bwi-letter3:before {
  content: "\e936";
}
.bwi-letter4:before {
  content: "\e937";
}
.bwi-loudspeaker:before {
  content: "\e938";
}
.bwi-member:before {
  content: "\e939";
}
.bwi-member2:before {
  content: "\e93a";
}
.bwi-menuham:before {
  content: "\e93b";
}
.bwi-money:before {
  content: "\e93c";
}
.bwi-notice:before {
  content: "\e93d";
}
.bwi-notice2:before {
  content: "\e93e";
}
.bwi-paper:before {
  content: "\e93f";
}
.bwi-paper2:before {
  content: "\e940";
}
.bwi-pencil:before {
  content: "\e941";
}
.bwi-question:before {
  content: "\e942";
}
.bwi-question2:before {
  content: "\e943";
}
.bwi-read:before {
  content: "\e944";
}
.bwi-safty:before {
  content: "\e945";
}
.bwi-search:before {
  content: "\e946";
}
.bwi-set:before {
  content: "\e947";
}
.bwi-setting:before {
  content: "\e948";
}
.bwi-share:before {
  content: "\e949";
}
.bwi-sort:before {
  content: "\e94a";
}
.bwi-star:before {
  content: "\e94b";
}
.bwi-star2:before {
  content: "\e94c";
}
.bwi-style-list:before {
  content: "\e94d";
}
.bwi-style-pic:before {
  content: "\e94e";
}
.bwi-style-series:before {
  content: "\e94f";
}
.bwi-style-single:before {
  content: "\e950";
}
.bwi-trashcan:before {
  content: "\e951";
}
